* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
  }
  
  body {
    background-color: black;
    padding: 20px;
  }
  
  .container {
    display: grid;
    grid-template-columns: 120px 120px 120px 120px;
    grid-template-rows: 100px 100px 100px 100px 100px;
    justify-content: center;
    margin: 0 auto; /* Center the calculator horizontally */
    max-width: 600px; /* Adjust the maximum width as needed */
    /* display: grid;
    grid-template-columns: 120px 120px 120px 120px;
    grid-template-rows: 100px 100px 100px 100px 100px;
    justify-content: center; */
  }
  
  button {
    background-color: rgba(44, 41, 41, 0.622);
    border: 1px solid rgba(0, 0, 0, 0.47);
    font-size: 25px;
    color: rgb(252, 252, 252);
    font-family: "Whois", sans-serif;
    cursor: pointer;
  }
  
  .c {
    color: rgb(250, 123, 84);
  }
  
  .blue {
    color: rgb(80, 133, 190);
  }
  
  .result {
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: "Whois", sans-serif;
    background-color: black;
    color: white;
    border: none;
    width: 75%;
    text-align: center;
    margin-left: 73px;


  }
  
  .equal-style {
    background-color: rgb(80, 133, 190);
    color: white;
  }
